.challenges-items-container {
    .el-progress__text {
        min-width: 25px;
    }
    // display: flex;
    // .challenges-item {
    //     flex-basis: 33%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     gap: 10px;
    //     .challenges-title {
    //         font-size: 24px;
    //         font-weight: 600;
    //     }
    //     .challenge-status__finished {
    //         color: green;
    //     }
    //     .challenge-status__in-progress {
    //         color: red;
    //     }
    //     .challenge-status-box {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: center;
    //     }
    // }
}

@media(max-width: 768px) {
    .challenges-items-container {
        .el-card__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}