* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
  .btn-primary {
    background-color: $secondary-color !important;
    color: white !important;
    border-radius: 25px !important;
    padding: 20px 30px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .btn-danger {
    background-color: $danger-color !important;
    color: white !important;
    border-radius: 25px !important;
    padding: 20px 30px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
  }

.container {
    max-width: 1400px;
    width: 1200px;
    margin: 60px auto;
  }
  @media(max-width: 1420px) {
    .container {
      max-width: 1400px;
      width: 1000px;
      margin: 50px auto;
    }
    
  }
  @media(max-width: 1220px) {
    .container {
      max-width: 1100px;
      width: 900px;
      margin: 40px auto;
    }
  }
  @media(max-width: 1040px) {
    .container {
      max-width: 600px;
      width: 500px;
      margin: 40px auto;
    }
  }
  .main-title {
    font-size: 28px;
    margin: 10px auto 40px;
    font-weight: 700;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $secondary-color;
    padding-bottom: 40px;
  }
  .search-wrapper .el-select__wrapper {
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: unset !important;
  }
  .container-wrapper {
    background-color: #EDE8DA;
    padding: 40px 0;
  }
  .more-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .end-trip-dialog {
    width: 450px;
    padding: 25px;
    .el-dialog__header {
      text-align: center;
      padding-right: 0;
      .el-dialog__title {
        font-weight: 600;
      }
    }

    .el-form-item {
      flex-direction: column;
    align-items: flex-start;  
    .el-form-item__content {
      width: 100%;
    }
    .el-input {
      width: 100%;
    }
    }

  }

  @media(max-width: 768px) {
    .trip-header {
      flex-direction: column;
      gap: 15px;
    }
    .trip-item {
      padding: 5px !important;
    }
    .container {
      max-width: 320px !important;
      width: 100%;
      margin: 30px auto;
      padding: 0 5px !important;
    }
    .container-wrapper {
      padding: 30px 0;
    }

    .user-reviews-card {
      .el-card__body {
        padding: 25px 5px;
      }
  }
  .login-modal {
    max-width: 320px;
  }
  .login-modal__content {
    .el-form-item__content {
      flex-wrap: nowrap;
    }
  }
  .end-trip-dialog {
    width: 320px !important;
    padding: 15px 20px !important;
  }

  }
  

  .route-page .leaflet-marker-icon {
    display: none !important;
  }
  .route-page .leaflet-marker-shadow {
    display: none !important;
  }
  .leaflet-marker-icon {
    display: none !important;
  }
  .leaflet-marker-shadow {
    display: none !important;
  }
  .custom-icon {
    display: block !important;
  }

  .review-dialog {
    border-radius: 15px !important;
    min-width: 320px;
  }
  .map-dialog {
    border-radius: 15px !important;
    min-width: 320px;
  }
  .leaflet-popup-content {
    max-width: 180px;
    width: 180px !important;
  }


  .popup-content {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    max-width: 300px;
  }
  
  .popup-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .popup-body {
    font-size: 14px;
  }
  
  .popup-info {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  
  .popup-info span {
    font-weight: bold;
    color: #555;
  }
  
  .route-counter {
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
  }
  
  .popup-footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;

  }
  
  .popup-footer button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .route-link {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  
  .route-link:hover {
    color: #0056b3;
  }
  .route-popup-link {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  