.login-modal {
    border-radius: 10px !important;
    // background-color: $primary-color !important;
    padding: 0 !important;
    box-shadow: 0px 0px 40px -12px black !important;
    .show-close {
        display: none !important;
    } 
    .el-tabs {
        &__header {
            margin-bottom: 0;
            padding-top: 15px;
            // background-color: $secondary-color;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }   
        &__nav {
            width: 100%;
        }
        &__item {
            flex-basis: 50%;
            font-weight: 600;
            padding: 0;
            color: #000;
        }
        &__item.is-active {
            color: #000;
        }
    }
    &__content {
        padding: 30px;
        .modal-login-button-box {
            .el-form-item__content {
                justify-content: center;
            }
    }
    }
    .el-input__wrapper {
        border-radius: 8px;
        box-shadow: unset;
        border: 1px solid $secondary-color;
    }
    .el-form-item--label-top .el-form-item__label {
        margin-bottom: 3px;
        font-weight: 600;
    }
}

.login-modal-title {
    text-align: center;
    margin-bottom: 15px;
}
@media(max-width: 768px) {
    .login-modal {
        .login-modal__content {
            padding: 20px !important;
        }
    }

}