// .trip-form {
//     padding: 0 40px;
//     .trip-form-days {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         padding-bottom: 40px;
//         border-bottom: 1px solid;
//         .title {
//             font-weight: 600;
//         }
//     }
//     label {
//         color: #000 !important;
//         width: auto !important;
//     }
//     .el-select__wrapper {
//         min-width: 60px;
//     }
//     .el-form-item {
//         margin-bottom: 0;
//     }
//     .form-days-box {
//         padding-top: 20px;
//         padding-left: 20px;
//         padding-right: 20px;
//         border-bottom: 1px solid;
//         padding-bottom: 20px;
//         .el-form-item {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//         }
//         .el-form-item__label {
//             font-weight: 600;
//             color: #000 !important;
//         }
//         .form-days-route {
//             width: 250px;
//             .el-form-item__content {
//                 width: 100%;
//             }
//         }
        
//     }
// }
.save-trip-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.trips-empty {
    display: flex;
    justify-content: center;
    align-items: center;
}